/*global*/

body{
font-family: arial;
color: black;
background-color: pink;
letter-spacing: 2px;
word-break: 4px;
}
.logo{
margin-right: 600px;

}
.nav1{
font-family: Verdana;
}
a{
    color: black; /*para mantener siempre las letras negras en los vinculos*/
    text-decoration: none;
}
img{
    max-width: 100%;
}

/*header*/
header .Borde{
    border-bottom: 3px solid #ffcc00; width: 5%; margin: 10px auto;       /*barra amarilla debajo del header*/
}   
                    nav.menu{ 
                    font-size: medium;
                    display: flex;
                    flex-direction: row;
                    justify-content: right;
                    align-items: center;
                    background-color: white;
                    padding: 1px;
                    }
                    .logo{  

                        height: 50px;
                         width: 80px;
                    }
                    .link-login{  
                        margin-right: 20px;                                                       /* se aleja de la etiqueta de lupita*/
                        letter-spacing: 6px;                                                      /*espacio entre letra y letra*/
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  /*estilo letra*/
                        font-size: 15px;                                                         /*tamaño letra*/
                    }
                    .link-search{                                                               /*clase lupita*/
                        margin-right: 20px;
                    }
                            .joinBtn {  /*boton newsletter*/
                                    margin-right: 20px;                                                      /*clase boton Newsletters*/
                                    width: 10em;
                                    height: 5ex;
                                    background-color: white;
                                    border: 2px solid white;
                                    border-radius: 10px;
                                    font-weight: bold;
                                    color: black;
                                    cursor: pointer;
                                }           
                                .joinBtn:hover {            /*hace que cambie de color*/                                 /*cambio de color del boton newsletter*/
                                    background-color: #ffcc00;
                                }/* cierra clase boton Newsletters*/
                    .link-subs{
                        margin-right: 20px;
                        letter-spacing: 6px;
                        font: weight 20px;
                        font-family: Arial, Helvetica, sans-serif bold;
                        font-size: 12px;
                        color: white;
                    background-color: blueviolet;
                    padding: 16px; 
                    }

                    .link-menu{
                        margin-right: 20px;
                        color: black;
                    }
                    .link-angle{  
                        margin-right: 20px;
                        color:black;
                    }


.puppy{
   
    padding-top: -90px;
}
.facebook{
    height: 40px;
    width: 40px;
}
.nav2{
    font-size: medium;
                    display: flex;
                    justify-content: right;
                    align-items: center;
                    padding: 1px;
                                   
}

.instagram{
    height: 50px;
    width: 50px;
}
.twitter{
    height: 40px;
    width: 40px;
}

.texto1{
    
    position: absolute;
    top: 200px;
    left: 10px;
    font-family: sans-serif;
    font-size: 50px;
    color:black;
}
.texto2{
    
    position: absolute;
    top: 250px;
    left: 10px;
    font-family: sans-serif ;
    font-size: 50px;
    color:black;
}

.botoncita{

    position: absolute;
    top: 380px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 40px;
    color:black;
background-color: pink;
cursor: pointer;
}